{% render 'partials/head.liquid' %}
<section>
  <div id="playlist_toevoegen">
    <form
      action="/"
      method="post"
      data-enhanced="toevoegen-{{ playlist.title }}">
      <p>Maak zelf een playlist aan</p>
      <label>Titel van playlist
        <input name="title">
      </label>
      <button type="submit">+</button>
    </form>
  </div>

  <section>
    <div id="stories">
      {% for story in stories %}
        <ul>
          <li class="verhalen">
            <picture style="view-transition-name: morph-{{ story.image }}">
              <source srcset="https://fdnd-agency.directus.app/assets//{{ story.image }}?format=avif" type="image/avif">
              <source srcset="https://fdnd-agency.directus.app/assets//{{ story.image }}?format=webp" type="image/webp">
              <img src="https://fdnd-agency.directus.app/assets//{{ story.image }}">
            </picture>

            <p style="view-transition-name: morph-{{ story.id }}">{{ story.title }}</p>
            <a href="/stories/{{ story.id }}">play story</a>
            <label>
              <input class="switch" type="checkbox">
            </label>
          </li>
        </ul>
      {% endfor %}
    </div>
  </section>

  <div id="playlist">
    <h2>Your Playlists</h2>
    <ul id="playlists">
      {% for playlist in playlists %}
        <li>
          <h3>{{ playlist.title }}</h3>
          <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/{{ playlist.image }}?format=avif" type="image/avif">
            <source srcset="https://fdnd-agency.directus.app/assets/{{ playlist.image }}?format=webp" type="image/webp">
            <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}">
          </picture>
          <form action="/delete/{{ playlist.id }}" method="POST">

            <button type="submit" name="delete">Verwijder Playlist</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>